<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/templates/mobile.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald:500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Mr+Dafoe" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h1>The Tre Lifestyle</h1>
    <p style="font-style: italic">under construction</p>
    <div class="container">
        <div class="sub">
            <p>Have you ever met an Actor who codes?</p>
        </div>
        <div></div>
        <div class="signature">
            Tremayne Miller
            <div class="social_container">
                <div><a href="http://instagram.com/TheTreLifestyle"><i class="fab fa-instagram"></i></a></div>
                <div><a href="http://twitter.com/TheTreLifestyle"><i class="fab fa-twitter-square"></i></a></div>
                <div><a href="https://github.com/TremayneMiller"><i class="fab fa-github"></i></a></div>
                <div><a href="https://www.facebook.com/RickieAMiller"><i class="fab fa-facebook-square"></i></a></div>
            </div>
        </div>
       
    </div>
    
</body>
</html>
